<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
<link rel="icon" href="/images/mobile-logo.svg">

</head>
<body>
<nav>
    <h1>St Augustine's Prayer App</h1>
    <ul class="topnav">
        <% if (typeof user !== 'undefined' && user) { %>
            <li><a href="/logout">LOGOUT</a></li>
            <li id="menu2"><a href="/addprayers">ADMIN</a></li>
        <% } else { %>
            <li id="menu1"><a href="/">PRAYERS</a></li>
            <li id="menu3"><a href="/testgpt">GENERATOR</a></li>
        <% } %>
    </ul>
    
</nav>
</body>
</html>

