<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtered Prayers</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/images/mobile-logo.svg">
</head>
<body>
    <%- include('partials/header'); -%>
    <div id="navbar"></div>
    <label for="tagSelect-random">Choose a filter:</label>
    <select id="tagSelect-random">
        <option value="general">General</option>
        <option value="lent">Lent</option>
        <option value="special">Special</option>
    </select>
    <button id="fetchRandomArticle">Get Prayer</button>
    <ul id="randomArticleList"></ul>
    <%- include('partials/footer'); -%>
    <script src="taggedscript.js"></script>
    <script src="template.js"></script>
</body>
</html>