body {
    display: none;
}

body {
    
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: darkgreen;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;

}

nav .band-name {
    position: absolute;
    left: 50%;               /* Center the band name horizontally */
    transform: translateX(-50%); /* Shift it back to truly center it */
    z-index: 1;              /* Ensure it's on top if overlapping occurs */
}

nav ul li {
    margin-right: 20px;      /* Space out the list items */
}

nav ul li:last-child {
    margin-right: 0;         /* Remove margin from the last item to avoid unnecessary spacing */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
button {
    background-color: #c4c4c4;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    color: #212529;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h1 {
    text-align: center;
}